.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--bg-primary);
  box-shadow: 32px 0  var(--bg-primary), -32px 0  var(--bg-primary);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: var(--bg-primary);
    box-shadow: 32px 0 var(--btn-dark), -32px 0 var(--bg-primary);
  }
  50% {
    background-color: var(--btn-dark-hover);
    box-shadow: 32px 0 var(--btn-dark-hover), -32px 0 var(--btn-dark-hover);;
  }
  100% {
    background-color: var(--btn-dark);
    box-shadow: 32px 0 var(--bg-primary), -32px 0 var(--btn-dark);
  }
}
      