.hallsPageContent{
    padding: 120px 48px 96px 48px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.hallsPageGallery{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hallsPageGallery > div:nth-child(1){
    width: 100%;
    height: 410px;
}
.hallsPageGallery > div:nth-child(1) > div{
    width: 100%;
    height: 100%;
}
.hallsPageGallery > div:nth-child(1) > div > div{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}
.hallsPageGallery > div:nth-child(1) > div > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.hallsPageGallery > div:nth-child(2){
    width: 100%;
    height: 90px;
}
.hallsPageGallery > div:nth-child(2) > div > div{
    cursor: pointer;
}
.hallsPageGallery > div:nth-child(2) > div > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hallsPageInfo{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.hallsPageTopBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.availibilityBlock{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.availibilityBlock > span{
    padding: 6px 12px;
    border-radius: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hallIsBooked{
    background:  #ff5b5b;
}
.hallIsfree{
    background:  #4ae580;
}
.hallsPageInfoTitleBlock{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hallsPageInfoTitleBlock > p{
    opacity: .65;
}
.hallsPageInfoTitleBlock > h3{
    font-family: var(--title-font);
    font-size: 54px;
    line-height: 52px;
    letter-spacing: 4%;
    text-transform: uppercase;
}
.hallsPageInfoTop{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.errText{
    position: absolute;
    right: 10px!important;
    top: 12px!important;
    left: auto!important;
    background: transparent;
    color: red;
}
.hallsPageInfoFlex{
    display: flex;
    flex: 1 0 0;
}
.hallsSpecifications{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}
.hallsSpecificationItem{
    display: flex;
    align-items: center;
    gap: 6px;
}
.sendInfo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sendInfo > ul> li{
    display: flex;
    gap: 6px;
}
.sendInfo  > ul> li > p:nth-child(1){
    font-weight: 700;
}
.hallsSpecificationItem > div:nth-child(1){
    width: 50px;
    height: 50px;
}
.hallsSpecificationText{
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
}
.hallsSpecificationText > p:nth-child(1){
    opacity: .64;
}
.hallsPageInfoBottom{
    display: flex;
    align-items: flex-start;
    gap: 104px;
}
.hallsPageInfoBottomLeft{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0;
}
.hallsPageInfoBottomLeft > h3{
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
.hallsPagePrice{
    position: sticky;
    top: 86px;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap:24px;
    padding: 24px 32px;
    background: rgba(163, 159, 145, 0.24);
    box-shadow: 0 0 20px rgba(163, 159, 145, 0.24);
    border-radius: 24px;
}
.hallsPagePrice > button{
    background: var(--btn-bg-primary);
    justify-content: center;
}
.hallsPagePrice > button:hover{
    background: var(--btn-bg-hover);
}
.hallsPageDate{
    position: relative;
    width: 100%;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--bg-primary);
    border: 1px solid var(--border-default)
}
.hallsPageDate > span{
    position: absolute;
    top: -15px;
    left: 24px;
    background: var(--bg-primary);
    padding: 0 5px;
    border-radius: 4px;
} 
.hallsPageDate > div{
    width: 100%;
}
.hallsPagePriceDuration, .hallsPageValuesItem{
    position: relative;
    width: 100%;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--bg-primary);
    border: 1px solid var(--border-default);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hallsPagePriceDuration > span,
.hallsPageValuesItem > span{
    position: absolute;
    top: -15px;
    left: 24px;
    background: var(--bg-primary);
    padding: 0 5px;
    border-radius: 4px;
}
.durationItem{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.durationItem > div:nth-child(1){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-default)
}
.durationItem > div:nth-child(1) > span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--btn-bg-primary);
}
.hallsPageValuesItem > input{
    padding: 10px 0;
}
.hallsSeatingArrangement{
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.hallsSitType{
    position: relative;
}
.arrangementTypesList{
    position: absolute;
    width: 100%;
    background-color: var(--bg-primary);
}
.arrangementTypesList > li{
    padding: 5px 10px;
    cursor: pointer;
}
.arrangementTypesList > li:hover{
    background: var(--border-default);
}
.priceInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.priceInfo > p:nth-child(2){
    font-size: 28px;
    line-height: 32px;
}

@media (max-width: 768px){
    .hallsPageContent{
        padding: 96px 20px 48px 20px;
        gap: 24px;
    }
    .hallsPageInfoTitleBlock> h3{
        font-size: 28px;
        line-height: 32px;
    }
    .hallsSpecifications{
        grid-template-columns: repeat(2, 1fr);
    }
    .hallsPageGallery{
        gap: 16px;
    }
    .spaceInfoBottom{
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: var(--bg-primary);
        bottom: 0;
        padding: 20px 25px;
        box-shadow: 5px 5px 20px rgba(46, 46, 45, 0.84);
    }
    .spaceInfoBottom > button{
        padding: 11px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--btn-bg-primary);
        border-radius: 320px;
        width: 100%;
    }
    .spaceInfoBottom > button:hover{
        background: var(--btn-bg-hover);
    }
    .spaceInfoBottom > button > p{
        color: var(--text-color-light);
    }
}